<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA0Compatible" content="IE-edge">
    <meta name="viewport" content="width=devicewidth", initial-scale="1.0">
    <title>Packt Todo Application</title>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSJIDZnLEWnxCjeSWphJiwGPXr1jddIhOegiu1Fw05qRGvFXOdJZ4" crossorigin="annoymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" 
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="http://uses.fontawesome.com/releases/v5.0.10/css/all.css" 
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<style>
    .container {
        text-align: center;
    }
</style>
</head>
<body>
<header>
    <nav class="naver">
        <div class="container">
            <h1>Packt Todo Application</h1>
        </div>
    </nav>
</header>
<div class="container-fluid">
    {% block todo_container %}{% endblock %}
</div>
</body>
</html>